body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-black);
    color: var(--color-white);
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 100px;
}