body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 100px;
}
