body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-foreground);
    transform: rotate(0deg);
}

body.on_Animation {animation: opacityAnimation .3s ease-in-out forwards}

@keyframes opacityAnimation {
    0% {opacity: 0}
    100% {opacity: 1}
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 100px;
}
