/* DESKTOP +750px */
.text {  
    font-family: var(--font-primary); 
    font-size: clamp(var(--scale-rem-3xs), var(--font-size-xl), var(--scale-rem-3xs)); 
    color: var(--color-foreground)
}
.title { 
    font-size: clamp(var(--scale-rem-3xs), var(--font-size-3xs), var(--scale-rem-4xl));
    font-weight: 700;
}
.quick-info {font-size: var(--scale-em-sm)}
a { text-decoration: none;}

/* PHONE + TABLET -750px */

@media (max-width: 750px) {
    .text {font-size: clamp(var(--scale-rem-4xs), var(--font-size-xl), var(--scale-rem-4xs)); }
}
