[significance-hl] { color: var(--color-foreground) !important }
[significance-hl="significant"] { color: var(--color-main) !important }
[significance-hl="significant+"] { color: var(--color-main) !important; font-style: italic; }
