[significance-hl] { color: var(--color-white) !important }
[significance-hl="significant"] { color: var(--color-secondary) !important }
[significance-hl="significant+"] { color: var(--color-secondary) !important; font-style: italic; }
[significance-hl="important"] { color: var(--color-primary) !important }
[significance-hl="important+"] { color: var(--color-primary) !important; font-style: italic; }