.theme-toggler {
    padding: var(--scale-rem-4xs) var(--scale-rem-4xs);
}

.theme-toggler__button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.theme-toggler__icon-light,
.theme-toggler__icon-dark {
    display: none;
    font-size: clamp(var(--scale-rem-3xs), var(--font-size-xl), var(--scale-rem-3xs));
    color: var(--color-foreground);
    opacity: 0;
    transform: rotate(0deg);
}

.theme-toggler__button {
    animation: rotateAnimation 15s linear infinite
}

@keyframes rotateAnimation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
